matplotlib == 3.10.7
pandas == 2.3.3
transformers == 4.57.1
mpmath==1.3.0
networkx==3.5
Pillow==11.3.0
sympy==1.14.0
torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
sentencepiece == 0.2.1
openai == 2.7.1
dotenv == 0.9.9
spacy == 3.8.11
en-core-web-sm == 3.8.0
seaborn == 0.13.2